<div class="my-spinner">
    <mat-spinner class="my-spinner"></mat-spinner>
</div>
<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <!-- Container wrapper -->
    <div class="container-fluid">
        <a class="navbar-brand" href="/">
            <img src="../../../assets/logo.png" height="80" alt="" loading="lazy" />
        </a>
        <!-- Navbar brand -->
        <a class="navbar-brand" href="/">{{ 'HomeTitle' | translate }}</a>
        <!-- Toggle button -->
        <button class="navbar-toggler" type="button" (click)="basicNavbar.toggle()" aria-expanded="false"
            aria-label="Toggle navigation">
            <i class="fas fa-bars"></i>
        </button>

        <!-- Collapsible wrapper -->
        <div class="collapse navbar-collapse" id="navbarSupportedContent" mdbCollapse #basicNavbar="mdbCollapse">
            <!-- Left links -->
            <ul class="navbar-nav me-auto mb-2 mb-lg-0 ">
                <li class="nav-item dropdown my-nav-item">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-toggle="dropdown" aria-navbar-listhaspopup="true" aria-expanded="false">
                        {{ 'CategoryTitle' | translate }}
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" (click)="navigateCategory('product')" routerLink="/category/product">{{ 'Product' | translate }}</a>
                        <mat-divider></mat-divider>
                        <a class="dropdown-item" (click)="navigateCategory('course')">{{ 'Course' | translate }}</a>
                    </div>
                </li>
                <li class="nav-item my-nav-item">
                    <a class="nav-link" href="#">{{ 'About' | translate }}</a>
                </li>
                <li class="nav-item my-nav-item">
                    <a class="nav-link" href="#">{{ 'Community' | translate }}</a>
                </li>
                <li class="nav-item dropdown my-nav-item">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-toggle="dropdown" aria-navbar-listhaspopup="true" aria-expanded="false">
                        {{ 'ManagementTitle' | translate }}
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" routerLink="/management/product">{{ 'Product' | translate }}</a>
                        <a class="dropdown-item" routerLink="/management/course">{{ 'Course' | translate }}</a>
                        <!-- <div class="dropdown-divider">T</div> -->
                        <a class="dropdown-item" routerLink="/management/user">{{ 'Trainer' | translate }}</a>
                    </div>
                </li>
                <li class="nav-item dropdown my-nav-item">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        {{ 'LanguageTitle' | translate }}
                    </a>
                    <div class="dropdown-menu" #selectedLang aria-labelledby="navbarDropdown">
                        <a *ngFor="let l of translateService.getLangs()" class="dropdown-item"
                            (click)="changeLanguage(l)">
                            {{ handlerLanguageDisplay(l) }}</a>
                    </div>
                </li>
            </ul>
            <!-- Left links -->

            <!-- Search form -->
            <div class="input-group row" style="width: 70%;">
                <mat-form-field class="col-md-2 m-0">
                    <mat-label>{{ 'Type' | translate }}</mat-label>
                    <mat-select required (selectionChange)="changeSelectOption($event)" [(ngModel)]="defaultSelect">
                        <mat-option *ngFor="let seach of searchType" [value]="seach.id">{{ seach.name | translate }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field class="col-md-8 m-0 position-relative">
                    <mat-label>{{ 'Search' | translate }}</mat-label>
                    <input id="input-container" [(ngModel)]="keyword" autocomplete="off" matInput placeholder="Enter."
                        (keyup)="keyUpEvent($event)">
                    <button type="button" (click)="searchValue()" class="my-search-icon" mat-icon-button color="primary"
                        aria-label="Example icon button with a menu icon">
                        <mat-icon>search</mat-icon>
                    </button>
                    <!-- Search box -->
                    <app-search-box id="search-result" (mouseenter)="foucusOnEvent()" [dataSource]="dataSource">
                    </app-search-box>
                    <!-- end search box -->
                </mat-form-field>
            </div>
            <div *ngIf="tokenString != null && tokenString != undefined; else elseBlock">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0 my-nav-item">
                    <!-- Cart dialog -->
                    <li class="nav-item me-3 me-lg-1">
                        <a class="nav-link" (click)="openCartDialog()">
                            <span><i class="fas fa-shopping-cart fa-lg"></i></span>
                            <span *ngIf="cartCount > 0" class="badge rounded-pill badge-notification bg-danger">{{
                                cartCount }}</span>
                        </a>
                    </li>
                    <li class="nav-item me-3 me-lg-1">
                        <a class="nav-link" (click)="calendarEvent()">
                            <span><i class="fas fa-calendar-alt fa-lg"></i></span>
                        </a>
                    </li>

                    <li class="nav-item me-3 me-lg-1">
                        <a class="nav-link" [mdePopoverTriggerFor]="notifyPopover" mdePopoverTriggerOn="click"
                            #popoverTrigger="mdePopoverTrigger">
                            <span><i class="fas fa-bell fa-lg"></i></span>
                        </a>
                        <mde-popover #notifyPopover="mdePopover" [mdePopoverOverlapTrigger]="false">
                            <div class="scrollbar scrollbar-primary"
                                style="width: 400px; max-width: 400px; min-width: 300px; min-height: 100px; max-height: 400px;">
                                <div class="force-overflow">
                                    <mat-list role="list">
                                        <mat-list-item role="listitem">Item 1</mat-list-item>
                                        <mat-list-item role="listitem">Item 2</mat-list-item>
                                        <mat-list-item role="listitem">Item 3</mat-list-item>
                                        <mat-list-item role="listitem">Item 1</mat-list-item>
                                        <mat-list-item role="listitem">Item 2</mat-list-item>
                                        <mat-list-item role="listitem">Item 3</mat-list-item>

                                    </mat-list>
                                </div>
                            </div>
                        </mde-popover>
                    </li>
                    <li class="nav-item dropdown my-nav-item">
                        <a class="nav-link" [mdePopoverTriggerFor]="userPopover" mdePopoverTriggerOn="click"
                            #popoverTrigger="mdePopoverTrigger">
                            <span><i class="fas fa-users fa-lg"></i></span>
                        </a>
                        <mde-popover #userPopover="mdePopover" [mdePopoverOverlapTrigger]="false">
                            <div class="scrollbar scrollbar-primary"
                                style="width: 200px; max-width: 400px; max-height: 220px; height: 100px;">
                                <div>
                                    <mat-list role="list">
                                        <mat-list-item role="listitem"> <a class="dropdown-item"
                                                (click)="openLoginDialog()">User Information</a>
                                        </mat-list-item>
                                        <mat-list-item role="listitem"> <a class="dropdown-item"
                                                (click)="logOutEvent()">Logout</a></mat-list-item>
                                    </mat-list>
                                </div>
                            </div>
                        </mde-popover>

                    </li>
                </ul>
            </div>
            <div>
                <ng-template #elseBlock>
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0 my-nav-item">
                        <li class="nav-item me-3 me-lg-1 pl-1 pr-1">
                            <a class="nav-link" (click)="openCartDialog()">
                                <span><i class="fas fa-shopping-cart fa-lg"></i></span>
                                <span *ngIf="cartCount > 0" class="badge rounded-pill badge-notification bg-danger">{{
                                    cartCount }}</span>
                            </a>
                        </li>
                        <li class="nav-item me-3 me-lg-1 pr-1">
                            <button style="font-size: 17px;" mat-button color="primary"
                                (click)="openLoginDialog()">Login</button>
                        </li>
                        <li class="nav-item me-3 me-lg-1 pr-1">
                            <button style="font-size: 17px;" mat-button color="primary"
                                (click)="openRegisterDialog()">Register</button>
                        </li>
                    </ul>
                </ng-template>
            </div>
        </div>
        <!-- Collapsible wrapper -->
    </div>
    <!-- Container wrapper -->
</nav>
<!-- Navbar -->