<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <!-- Container wrapper -->
    <div class="container-fluid">
        <a class="navbar-brand" href="/">
            <img src="../../../assets/logo.png" height="80" alt="" loading="lazy" />
        </a>
        <!-- Navbar brand -->
        <a class="navbar-brand" href="/">Home</a>

        <!-- Toggle button -->
        <button class="navbar-toggler" type="button" (click)="basicNavbar.toggle()" aria-expanded="false"
            aria-label="Toggle navigation">
            <i class="fas fa-bars"></i>
        </button>

        <!-- Collapsible wrapper -->
        <div class="collapse navbar-collapse" id="navbarSupportedContent" mdbCollapse #basicNavbar="mdbCollapse">
            <!-- Left links -->
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li mdbDropdown class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
                        mdbDropdownToggle aria-expanded="false">
                        Category
                    </a>
                    <ul mdbDropdownMenu class="dropdown-menu my-nav-item-list" aria-labelledby="navbarDropdownMenuLink">
                        <li>
                            <a class="dropdown-item" href="#">Product</a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="#">Course</a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="#">Trainer</a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Community</a>
                </li>
            </ul>
            <!-- Left links -->

            <!-- Search form -->
            <form class="ml-0 container w-75" (ngSubmit)="onSubmit()" [formGroup]="searchForm">
                <div class="input-group row">
                    <mat-form-field class="col-md-2 m-0">
                        <mat-label>Type</mat-label>
                        <mat-select required (selectionChange)="changeSelectOption($event)" [(ngModel)]="defaultSelect"
                            formControlName="searchType">
                            <mat-option *ngFor="let seach of searchType" [value]="seach.id">{{ seach.name }}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                    <mat-form-field class="col-md-8 m-0 position-relative">
                        <mat-label>Search</mat-label>
                        <input id="input-container" autocomplete="off" matInput placeholder="Enter."
                            formControlName="searchResult" (keyup)="keyUpEvent($event)">
                        <button type="submit" class="my-search-icon" mat-icon-button color="primary"
                            aria-label="Example icon button with a menu icon">
                            <mat-icon>search</mat-icon>
                        </button>
                        <!-- Search box -->
                        <app-search-box id="search-result" (mouseenter)="foucusOnEvent()" [dataSource]="dataSource">
                        </app-search-box>
                        <!-- end search box -->
                    </mat-form-field>
                </div>
            </form>
            <div *ngIf="tokenString != null && tokenString != undefined; else elseBlock">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0 my-nav-item">
                    <li class="nav-item me-3 me-lg-1 active">
                        <a class="nav-link" href="#">
                            <span><i class="fas fa-shopping-cart fa-lg"></i></span>
                            <span class="badge rounded-pill badge-notification bg-danger">1</span>
                        </a>
                    </li>

                    <li class="nav-item me-3 me-lg-1">
                        <a class="nav-link" [mdePopoverTriggerFor]="chatPopOver" mdePopoverTriggerOn="click"
                            #popoverTrigger="mdePopoverTrigger">
                            <span><i class="fas fa-comments fa-lg"></i></span>
                        </a>
                        <mde-popover #chatPopOver="mdePopover" [mdePopoverOverlapTrigger]="false">
                            <div class="scrollbar scrollbar-primary"
                                style="width: 400px; max-width: 400px; min-width: 300px; min-height: 100px; max-height: 400px;">
                                <div class="force-overflow">
                                    <mat-list role="list">
                                        <mat-list-item role="listitem" class="pt-3 pb-3">
                                            <img src="../../../assets/logo.png" height="60" alt="" loading="lazy"
                                                style="float: left;" />
                                            <p style="
                                            overflow: hidden;
                                            white-space: nowrap;
                                            text-overflow: ellipsis;">
                                                sdssdsdsdddddddddddddddddsdssdsdsdddddddddddddddddsdssdsdsdddddddddddddddddsdssdsdsdddddddddddddddddsdssdsdsdddddddddddddddddsdssdsdsddddddddddddddddd</p>
                                        </mat-list-item>
                                        <mat-list-item role="listitem" class="pt-3 pb-3">
                                            <img src="../../../assets/logo.png" height="60" alt="" loading="lazy"
                                                style="float: left;" />
                                            <p style="
                                            overflow: hidden;
                                            white-space: nowrap;
                                            text-overflow: ellipsis;">
                                                sdssdsdsdddddddddddddddddsdssdsdsdddddddddddddddddsdssdsdsdddddddddddddddddsdssdsdsdddddddddddddddddsdssdsdsdddddddddddddddddsdssdsdsddddddddddddddddd</p>
                                        </mat-list-item>
                                        <mat-list-item role="listitem" class="pt-3 pb-3">
                                            <img src="../../../assets/logo.png" height="60" alt="" loading="lazy"
                                                style="float: left;" />
                                            <p style="
                                            overflow: hidden;
                                            white-space: nowrap;
                                            text-overflow: ellipsis;">
                                                sdssdsdsdddddddddddddddddsdssdsdsdddddddddddddddddsdssdsdsdddddddddddddddddsdssdsdsdddddddddddddddddsdssdsdsdddddddddddddddddsdssdsdsddddddddddddddddd</p>
                                        </mat-list-item>
                                        <mat-list-item role="listitem" class="pt-3 pb-3">
                                            <img src="../../../assets/logo.png" height="60" alt="" loading="lazy"
                                                style="float: left;" />
                                            <p style="
                                            overflow: hidden;
                                            white-space: nowrap;
                                            text-overflow: ellipsis;">
                                                sdssdsdsdddddddddddddddddsdssdsdsdddddddddddddddddsdssdsdsdddddddddddddddddsdssdsdsdddddddddddddddddsdssdsdsdddddddddddddddddsdssdsdsddddddddddddddddd</p>
                                        </mat-list-item>
                                        <mat-list-item role="listitem" class="pt-3 pb-3">
                                            <img src="../../../assets/logo.png" height="60" alt="" loading="lazy"
                                                style="float: left;" />
                                            <p style="
                                            overflow: hidden;
                                            white-space: nowrap;
                                            text-overflow: ellipsis;">
                                                sdssdsdsdddddddddddddddddsdssdsdsdddddddddddddddddsdssdsdsdddddddddddddddddsdssdsdsdddddddddddddddddsdssdsdsdddddddddddddddddsdssdsdsddddddddddddddddd</p>
                                        </mat-list-item>
                                        <mat-list-item role="listitem" class="pt-3 pb-3">
                                            <img src="../../../assets/logo.png" height="60" alt="" loading="lazy"
                                                style="float: left;" />
                                            <p style="
                                            overflow: hidden;
                                            white-space: nowrap;
                                            text-overflow: ellipsis;">
                                                sdssdsdsdddddddddddddddddsdssdsdsdddddddddddddddddsdssdsdsdddddddddddddddddsdssdsdsdddddddddddddddddsdssdsdsdddddddddddddddddsdssdsdsddddddddddddddddd</p>
                                        </mat-list-item>
                                        <mat-list-item role="listitem" class="pt-3 pb-3">
                                            <img src="../../../assets/logo.png" height="60" alt="" loading="lazy"
                                                style="float: left;" />
                                            <p style="
                                            overflow: hidden;
                                            white-space: nowrap;
                                            text-overflow: ellipsis;">
                                                sdssdsdsdddddddddddddddddsdssdsdsdddddddddddddddddsdssdsdsdddddddddddddddddsdssdsdsdddddddddddddddddsdssdsdsdddddddddddddddddsdssdsdsddddddddddddddddd</p>
                                        </mat-list-item>
                                    </mat-list>
                                </div>
                            </div>
                        </mde-popover>
                    </li>

                    <li class="nav-item me-3 me-lg-1">
                        <a class="nav-link" (click)="calendarEvent()">
                            <span><i class="fas fa-calendar-alt fa-lg"></i></span>
                        </a>
                    </li>

                    <li class="nav-item me-3 me-lg-1">
                        <a class="nav-link" [mdePopoverTriggerFor]="notifyPopover" mdePopoverTriggerOn="click"
                            #popoverTrigger="mdePopoverTrigger">
                            <span><i class="fas fa-bell fa-lg"></i></span>
                        </a>
                        <mde-popover #notifyPopover="mdePopover" [mdePopoverOverlapTrigger]="false">
                            <div class="scrollbar scrollbar-primary"
                                style="width: 400px; max-width: 400px; min-width: 300px; min-height: 100px; max-height: 400px;">
                                <div class="force-overflow">
                                    <mat-list role="list">
                                        <mat-list-item role="listitem">Item 1</mat-list-item>
                                        <mat-list-item role="listitem">Item 2</mat-list-item>
                                        <mat-list-item role="listitem">Item 3</mat-list-item>
                                        <mat-list-item role="listitem">Item 1</mat-list-item>
                                        <mat-list-item role="listitem">Item 2</mat-list-item>
                                        <mat-list-item role="listitem">Item 3</mat-list-item>
                                        
                                    </mat-list>
                                </div>
                            </div>
                        </mde-popover>
                    </li>

                    <li class="nav-item me-3 me-lg-1 dropdown" mdbDropdown>
                        <a class="nav-link dropdown-toggle" href="#" id="userMenuDropDownLink" role="button"
                            mdbDropdownToggle aria-expanded="false">
                            <span><i class="fas fa-users fa-lg"></i></span>
                            <span class="badge rounded-pill badge-notification bg-danger">0</span>
                        </a>
                        <ul mdbDropdownMenu class="dropdown-menu my-nav-item-list"
                            aria-labelledby="userMenuDropDownLink">
                            <li>
                                <a class="dropdown-item" (click)="openLoginDialog()">User Information</a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="#">Invitation</a>
                            </li>
                            <li>
                                <a class="dropdown-item" (click)="logOutEvent()">Logout</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
            <div>
                <ng-template #elseBlock>
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0 my-nav-item">
                        <li class="nav-item me-3 me-lg-1 active pl-1 pr-1">
                            <a class="nav-link" href="#">
                                <span><i class="fas fa-shopping-cart fa-lg"></i></span>
                                <span class="badge rounded-pill badge-notification bg-danger">1</span>
                            </a>
                        </li>
                        <li class="nav-item me-3 me-lg-1 active pl-1 pr-1">
                            <button style="font-size: 17px;" mat-button color="primary"
                                (click)="openLoginDialog()">Login</button>
                        </li>
                        <li class="nav-item me-3 me-lg-1 active pl-1 pr-1">
                            <button style="font-size: 17px;" mat-button color="primary"
                                (click)="openRegisterDialog()">Register</button>
                        </li>
                    </ul>
                </ng-template>
            </div>
        </div>
        <!-- Collapsible wrapper -->
    </div>
    <!-- Container wrapper -->
</nav>
<!-- Navbar -->