<div class="container-fluid w-75">
    <div class="row mt-2">
        <div class="col col-md-6 m-0">
            <lib-ngx-image-zoom style="height: 200px;" [thumbImage]="imageSource" [fullImage]="fullImageSource"
                [magnification]="1" [zoomMode]="'hover'" [enableScrollZoom]="true"></lib-ngx-image-zoom>
            <p-carousel [value]="productSlider" styleClass="custom-carousel" [numVisible]="6" [numScroll]="1"
                [circular]="true" [autoplayInterval]="3000" [responsiveOptions]="responsiveOptions">
                <ng-template let-product pTemplate="item">
                    <div class="product-item" (click)="changeImageEvent(product.name)">
                       <img [src]="product.image" width="80px" height="80px" />
                    </div>
                </ng-template>
            </p-carousel>
        </div>
        <div class="col col-md-6 p-4 bg-dark text-light m-0">
            <div class="row">
                <div class="col col-md-12">
                    <h2 class="mb-3">{{ dataSource.productName }}</h2>
                    <p>Price: ${{ dataSource.productDetails[this.detailIndex].price | money }}</p>
                    <p>Languages: 9</p>
                    <p>Difficulty: {{ dataSource.difficulty }}/5</p>
                    <p>Weight: 107 lbs / (48.53 Kilograms)</p>
                    <p>Max User Weight: 400 lbs / (181.43 Kilograms)</p>
                    <p>Training Type: Low Impact, Strength Training</p>
                    <p>Warrant: 1 Year Parts & On-Site Labor w/Ext. Warranty Options</p>
                </div>
            </div>
            <div class="text-center left-0 mt-5">
                <button type="button" class="btn btn-outline-primary mt-2 w-100">Add to card</button>
                <button type="button" class="btn btn-outline-primary mt-2 w-100">Buy now</button>
                <button type="button" class="btn btn-outline-primary mt-2 w-100">Buy installment</button>
            </div>
        </div>
    </div>
    <div class="description">
        <h1 class="mt-4">Description</h1>
        <div class="row mb-3">
            <div class="col col-md-9">
                <div style="font-size: 20px; width: fit-content; border-radius: 8px;"
                    class="bg-light p-3 text-center my-avatar-btn">
                    <img alt="avatar" style="border-radius: 15px; display: inline-block;" width="30" height="30"
                        src="https://media.istockphoto.com/vectors/allseeing-eye-of-god-inside-triangle-pyramid-vector-id1159957563?k=20&m=1159957563&s=612x612&w=0&h=1NOjNRYBCJ2kgwdET4qVq76SB6g5TsS4dGpvWkC8tfY=" />
                    <span class="ml-2 align-middle" style="display: inline-block;">Nicolas
                        <i class="fas fa-chevron-right ml-1"></i></span>
                </div>
            </div>
            <div class="col col-md-3">
                <a class="ml-3 mr-3" href="#">
                    <span><i class="far fa-comment-alt fa-2x"></i></span>
                    <span class="badge rounded-pill badge-notification bg-danger" style="font-size: 13px;">1</span>
                </a>
                <a class="ml-2 mr-2" href="#">
                    <span><i class="fab fa-facebook fa-2x"></i></span>
                </a>
                <a class="ml-2 mr-3 text-danger" href="#">
                    <span><i class="fab fa-youtube fa-2x"></i></span>
                </a>
            </div>
        </div>
        <qr-code value="http://localhost:4200/detail/product/1" size="150" errorCorrectionLevel="M"
            centerImageSrc="undefined" centerImageSize="undefined" [margin]="4">
        </qr-code>
        <p>
            Attention: for those who are pregnant, looking to become pregnant, or just out of a pregnancy, the ideas,
            workouts, and strategies presented in this workout video and write-up reflect the research and experience of
            the creator and should not be taken as a medical diagnosis or prescription. Information included is not
            intended to be used as medical advice or in place of advice or guidance from your personal doctor. Before
            beginning exercise of any kind, please consult with your doctor or other medical professional to make sure
            it is appropriate for you and your unique situation.
        </p>
        <p>
            Having a strong foundation is important for decreasing aches and pains, supporting good posture and pelvic
            health, and setting you up for a faster postpartum recovery. This workout targets the muscles needed to
            establish your foundation so you can stay functional and strong!
        </p>
        <p>
            Note: Though this workout and content is tailored to pregnancy and postpartum, many can benefit from what
            this workout provides.
        </p>
        <p>I think it’s helpful to first learn the demands placed on the body during pregnancy and postpartum in order
            to fully understand how to train your core to meet the demands. Let’s take a look at a few key changes:
        </p>
        <p>
            The hormone relaxin is responsible for relaxing all of the muscles and joints in your body in pregnancy to
            allow the body to expand and prepare for delivery. This includes relaxation of the pelvic bones and pelvic
            floor, making them unstable and lax while bearing the burden of the baby weight.
        </p>
    </div>
    <div class="comment mt-5">
        <h1 class="mt-2">46 Comments</h1>
        <hr>
        <div class="p-4 text-center">
            <button *ngIf="token != null; else elseBlock" class="btn btn-primary w-75 m-auto"
                style="height: 50px; font-size: 22px; font-weight: 450;">SIGN IN
                TO REPLY</button>
            <ng-template #elseBlock>
                <div class="comment-input mt-2 text-right">
                    <div class="input-group">
                        <textarea class="form-control" rows="5" style="height: 100px;" aria-label="With textarea"
                            placeholder="Enter something ...."></textarea>
                    </div>
                    <button class="btn btn-primary mt-2">Send Comment</button>
                </div>
            </ng-template>

        </div>
        <hr>
        <div class="comment-list">
            <div class="row mt-2 mb-3">
                <div class="col col-md-1">
                    <img alt="avatar" style="border-radius: 35px;" width="70" height="70"
                        src="https://media.istockphoto.com/vectors/allseeing-eye-of-god-inside-triangle-pyramid-vector-id1159957563?k=20&m=1159957563&s=612x612&w=0&h=1NOjNRYBCJ2kgwdET4qVq76SB6g5TsS4dGpvWkC8tfY=" />
                </div>
                <div class="col col-md-11">
                    <h3>By Hillary C — 13 hours ago</h3>
                    <p>Really looking forward to doing this :) I'm very early in my second pregnancy and I've heard from
                        others that things like your abs seem to go a heck of a lot faster the second time round. So I'm
                        not waiting til 2nd tri. to shift to prenatal workouts this time!! 😅</p>
                    <button class="btn btn-outline-primary mr-2" style="border: 0px;"><i
                            class="fas fa-arrow-left mr-2"></i> Reply</button>
                    <button class="btn btn-outline-primary" style="border: 0px;">Like <i
                            class="far fa-thumbs-up ml-2 mr-2"></i> <span
                            class="badge rounded-pill badge-notification bg-danger"
                            style="font-size: 13px;">1</span></button>

                </div>
            </div>
            <div class="row mt-2 mb-3">
                <div class="col col-md-1">
                    <img alt="avatar" style="border-radius: 35px;" width="70" height="70"
                        src="https://media.istockphoto.com/vectors/allseeing-eye-of-god-inside-triangle-pyramid-vector-id1159957563?k=20&m=1159957563&s=612x612&w=0&h=1NOjNRYBCJ2kgwdET4qVq76SB6g5TsS4dGpvWkC8tfY=" />
                </div>
                <div class="col col-md-11">
                    <h3>By Hillary C — 13 hours ago</h3>
                    <p>Really looking forward to doing this :) I'm very early in my second pregnancy and I've heard from
                        others that things like your abs seem to go a heck of a lot faster the second time round. So I'm
                        not waiting til 2nd tri. to shift to prenatal workouts this time!! 😅</p>
                    <button class="btn btn-outline-primary mr-2" style="border: 0px;"><i
                            class="fas fa-arrow-left mr-2"></i> Reply</button>
                    <button class="btn btn-outline-primary" style="border: 0px;">Like <i
                            class="far fa-thumbs-up ml-2"></i></button>
                </div>
            </div>
            <div class="row mt-2 mb-3">
                <div class="col col-md-1">
                    <img alt="avatar" style="border-radius: 35px;" width="70" height="70"
                        src="https://media.istockphoto.com/vectors/allseeing-eye-of-god-inside-triangle-pyramid-vector-id1159957563?k=20&m=1159957563&s=612x612&w=0&h=1NOjNRYBCJ2kgwdET4qVq76SB6g5TsS4dGpvWkC8tfY=" />
                </div>
                <div class="col col-md-11">
                    <h3>By Hillary C — 13 hours ago</h3>
                    <p>Really looking forward to doing this :) I'm very early in my second pregnancy and I've heard from
                        others that things like your abs seem to go a heck of a lot faster the second time round. So I'm
                        not waiting til 2nd tri. to shift to prenatal workouts this time!! 😅</p>
                    <button class="btn btn-outline-primary mr-2" style="border: 0px;"><i
                            class="fas fa-arrow-left mr-2"></i> Reply</button>
                    <button class="btn btn-outline-primary" style="border: 0px;">Like <i
                            class="far fa-thumbs-up ml-2"></i></button>
                </div>
            </div>
            <div class="row mt-2 mb-3">
                <div class="col col-md-1">
                    <img alt="avatar" style="border-radius: 35px;" width="70" height="70"
                        src="https://media.istockphoto.com/vectors/allseeing-eye-of-god-inside-triangle-pyramid-vector-id1159957563?k=20&m=1159957563&s=612x612&w=0&h=1NOjNRYBCJ2kgwdET4qVq76SB6g5TsS4dGpvWkC8tfY=" />
                </div>
                <div class="col col-md-11">
                    <h3>By Hillary C — 13 hours ago</h3>
                    <p>Really looking forward to doing this :) I'm very early in my second pregnancy and I've heard from
                        others that things like your abs seem to go a heck of a lot faster the second time round. So I'm
                        not waiting til 2nd tri. to shift to prenatal workouts this time!! 😅</p>
                    <button class="btn btn-outline-primary mr-2" style="border: 0px;"><i
                            class="fas fa-arrow-left mr-2"></i> Reply</button>
                    <button class="btn btn-outline-primary" style="border: 0px;">Like <i
                            class="far fa-thumbs-up ml-2"></i></button>
                </div>
            </div>
            <div class="row mt-2 mb-3">
                <div class="col col-md-1">
                    <img alt="avatar" style="border-radius: 35px;" width="70" height="70"
                        src="https://media.istockphoto.com/vectors/allseeing-eye-of-god-inside-triangle-pyramid-vector-id1159957563?k=20&m=1159957563&s=612x612&w=0&h=1NOjNRYBCJ2kgwdET4qVq76SB6g5TsS4dGpvWkC8tfY=" />
                </div>
                <div class="col col-md-11">
                    <h3>By Hillary C — 13 hours ago</h3>
                    <p>Really looking forward to doing this :) I'm very early in my second pregnancy and I've heard from
                        others that things like your abs seem to go a heck of a lot faster the second time round. So I'm
                        not waiting til 2nd tri. to shift to prenatal workouts this time!! 😅</p>
                    <button class="btn btn-outline-primary mr-2" style="border: 0px;"><i
                            class="fas fa-arrow-left mr-2"></i> Reply</button>
                    <button class="btn btn-outline-primary" style="border: 0px;">Like <i
                            class="far fa-thumbs-up ml-2"></i></button>
                </div>
            </div>
        </div>
    </div>
</div>