.fullscreen {
    width: auto;
    height: 90vh;

}

// .over {
//     width: 100%;
//     height: 100%;
//     min-height: 100%;
//     position: absolute;
//     top: 0;
//     left: 0;
//     z-index: 2;
//     opacity: 0.8;
//}

// .over video {
//     width: 200px;
// }

.example-container {
    height: 75vh;
    width: 100%;
    max-width: 100%;
    overflow: auto;
}

table {
    width: 100%;
    height: 100%;
}

td.mat-column-star {
    width: 20px;
    padding-right: 8px;
}

th.mat-column-position,
td.mat-column-position {
    padding-left: 8px;
}

.mat-table-sticky-border-elem-right {
    border-left: 1px solid #e0e0e0;
}

.mat-table-sticky-border-elem-left {
    border-right: 1px solid #e0e0e0;
}

.text-full-width {
    width: 100%;
}

.fullscreen video {
    width: 100%;
    height: 90vh;
}

video {
    width: 100% !important;
    height: 90vh;
}