<footer id="my-footer" class="page-footer font-small blue mt-4 p-4">

    <!-- Footer Links -->
    <div class="container-fluid text-center text-md-left">

        <!-- Grid row -->
        <div class="row" style="font-size: 18px; line-height: 32px;">

            <hr class="clearfix w-100 d-md-none pb-3">
            <!-- Grid column -->
            <div class="col-md-4 mb-md-0 mb-3">

                <!-- Links -->
                <h2 class="text-uppercase">{{ 'Links' | translate }}</h2>

                <ul class="list-unstyled">
                    <li>
                        <a href="#!">{{ 'Contact Info' | translate }}</a>
                    </li>
                    <li>
                        <a href="#!">{{ 'Where to Buy' | translate }}</a>
                    </li>
                    <li>
                        <a href="#!">{{ 'Accessibility Statement' | translate }}</a>
                    </li>
                </ul>

            </div>
            <!-- Grid column -->
            <div class="col-md-4 mb-md-0 mb-3">

                <!-- Links -->
                <h2 class="text-uppercase">Product Support & Information
                </h2>

                <ul class="list-unstyled">
                    <li>
                        <a href="#!">JRNY™ Digital Fitness Platform</a>
                    </li>
                    <li>
                        <a href="#!">Explore the World™ App & More</a>
                    </li>
                    <li>
                        <a href="#!">FAQs</a>
                    </li>
                    <li>
                        <a href="#!">Product Manuals</a>
                    </li>
                    <li>
                        <a href="#!">Declarations of Conformity</a>
                    </li>
                    <li>
                        <a href="#!">European Suggested Retail Prices</a>
                    </li>
                </ul>

            </div>
            <!-- Map column -->
            <div class="col-md-4 mt-md-0 mt-3">
                <iframe
                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3928.8414543437657!2d105.76842661533182!3d10.029938975268758!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31a0895a51d60719%3A0x9d76b0035f6d53d0!2zxJDhuqFpIGjhu41jIEPhuqduIFRoxqE!5e0!3m2!1svi!2s!4v1649661509018!5m2!1svi!2s"
                    width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
                    referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>

        </div>
        <!-- Grid row -->

    </div>
    <!-- Footer Links -->

    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">© 2022 Copyright:
        <a href="http://localhost:4200/"> FitnessWebsite.com</a>
    </div>