<div class="container-fluid" style="padding: 0;">
    <div class="row card-container" *ngIf="dataSource !== null && dataSource.items.length > 0; else elseBlock"
        style="padding: 0;">
        <mat-card class="example-card" *ngFor="let item of dataSource.items">
            <mat-card-header>
                <div mat-card-avatar class="example-header-image"></div>
                <mat-card-title>{{ "sdsdsds" }}</mat-card-title>
                <mat-card-subtitle>Dog Breed</mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image style="width:100%; height:360px;" [src]="item.image" alt="Photo of a Shiba Inu">
            <mat-card-content>
                <p>
                    The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                    A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
                    bred for hunting.
                </p>
            </mat-card-content>
            <mat-card-actions>
                <button mat-button (click)="navigateToDetail(item.id)">DETAIL</button>
                <button mat-button
                    (click)="addToCart(item.id, item.image, item.price, item.name, dataType === productCart ? productCart : courseCart)">ADD
                    TO CART</button>
            </mat-card-actions>
        </mat-card>
    </div>
    <div class="text-center mt-3" *ngIf="pageIndexArray && pageIndexArray.length != 0">
        <div style="margin: 0 auto; width: fit-content;">
            <ul class="pagination pagination-circle pg-blue text-center" style="margin-right: 0 !important;">
                <li class="page-item disabled"><a class="page-link" mdbWavesEffect>First</a></li>
                <li class="page-item disabled">
                    <a class="page-link" aria-label="Previous" mdbWavesEffect>
                        <span aria-hidden="true">&laquo;</span>
                        <span class="sr-only">Previous</span>
                    </a>
                </li>
                <li class="page-item" *ngFor="let e of pageIndexArray"><a class="page-link" mdbWavesEffect>{{ e }}</a></li>
                <li class="page-item">
                    <a class="page-link" aria-label="Next" mdbWavesEffect>
                        <span aria-hidden="true">&raquo;</span>
                        <span class="sr-only">Next</span>
                    </a>
                </li>
                <li class="page-item"><a class="page-link" mdbWavesEffect>Last</a></li>
            </ul>
        </div>
    </div>
    <ng-template #elseBlock>
        <div class="text-center">
            Cannot find any item!
        </div>
    </ng-template>
</div>