.example-card {
    max-width: 280px;
    margin: 10px !important;
}

.example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
}

.card-container{
    width: 80vw;
    text-align: center;
    margin: 0 auto;
}