<div class="m-5">
    <button class="btn btn-primary" type="button" (click)="basicCollapse.toggle()" aria-expanded="false"
        aria-controls="collapseExample">
        Filter
    </button>
    <!--Collapsed content-->
    <div class="mt-3" id="collapseExample" mdbCollapse #basicCollapse="mdbCollapse">
        <form>
            <div class="row">
                <div class="form-group col col-md-3">
                    <div>
                        <label class="my-form-label">{{ this.searchTypeString == 'product' ? 'Shop Name' : 'Trainer Name' }}</label>
                        <input type="text" class="form-control" name="calorieMin" [placeholder]="this.searchTypeString == 'product' ? 'Shop Name' : 'Trainer Name'"
                            (change)="NameChange($event)">
                    </div>
                </div>
                <div *ngIf="searchTypeString == 'course'" class="form-group col-md-6">
                    <!-- <div>
                        <label class="my-form-label">Calorie Burn</label>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <input type="number" min="0" max="100000" class="form-control" name="calorieMin"
                                placeholder="Min" (change)="calorieMinChange($event)">
                        </div>
                        <div class="col-md-6">
                            <input type="number" min="0" max="100000" class="form-control" name="calorieMax"
                                placeholder="Max" (change)="calorieMaxChange($event)">
                        </div>
                    </div> -->
                    <div>
                        <label class="my-form-label">Time to start</label>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <input type="date" class="form-control" placeholder="Begin Date" name="startDate"
                                (change)="startDateChange($event)">
                        </div>
                        <div class="col-md-6">
                            <input type="date" class="form-control" placeholder="End Date" name="endDate"
                                (change)="endDateChange($event)">
                        </div>
                    </div>
                </div>
                <div *ngIf="searchTypeString == 'course' || searchTypeString == 'product'"
                    class="form-group col col-md-3">
                    <label class="my-form-label">From Price</label>
                    <div>
                        <mat-slider class="w-100" thumbLabel [displayWith]="formatLabel" tickInterval="100" step="100"
                            min="0" max="20000" aria-label="units" color="primary" (change)="fromPriceChange($event)">
                        </mat-slider>
                    </div>
                    <label class="my-form-label">To Price</label>
                    <div>
                        <mat-slider class="w-100" thumbLabel [displayWith]="formatLabel" tickInterval="100" step="100"
                            min="0" max="20000" aria-label="units" color="primary" (change)="toPriceChange($event)">
                        </mat-slider>
                    </div>
                </div>
                <div *ngIf="searchTypeString == 'course' || searchTypeString == 'product'"
                    class="form-group col col-md-3">
                    <label class="my-form-label">Tags</label>
                    <mat-selection-list color="primary" #list [(ngModel)]="tag" name="tag"
                        (selectionChange)="listChange($event.option)" style="height: 230px; overflow: auto;">
                        <mat-list-option *ngFor="let tt of tags" [value]="tt">
                            {{ tt }}
                        </mat-list-option>
                    </mat-selection-list>
                </div>
                <div *ngIf="searchTypeString == 'course' || searchTypeString == 'product'"
                    class="form-group col col-md-3">
                    <label class="my-form-label">Difficulty</label>
                    <mat-selection-list color="primary" #list [(ngModel)]="difficulty" name="difficulty"
                        (selectionChange)="listChange($event.option)">
                        <mat-list-option *ngFor="let d of difficulties" [value]="d">
                            {{ d }}
                        </mat-list-option>
                    </mat-selection-list>
                </div>
                <div *ngIf="searchTypeString == 'course' || searchTypeString == 'product'"
                    class="form-group col col-md-3">
                    <label class="my-form-label">Body Focus</label>
                    <mat-selection-list color="primary" #list [(ngModel)]="bodyFocus" name="bodyFocus"
                        (selectionChange)="listChange($event.option)">
                        <mat-list-option *ngFor="let b of bodyFocuses" [value]="b">
                            {{ b }}
                        </mat-list-option>
                    </mat-selection-list>
                </div>
            </div>
        </form>

    </div>
</div>