.user-button {
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
}

@media print {
    #body {
        zoom: 150%;
    }
}

.user-form-field {
    width: 100%;
}

.bill-detail-row:hover{
    cursor: pointer;
}