z
<div class="main-content">
    <div class="container-fluid">
        <div class="row" id="hiden-component">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <div class="row">
                            <div class="col col-md-2">
                                <h2 class="card-title" style="float: left;">{{ 'Product Management' | translate }}</h2>
                            </div>
                            <div class="col col-md-1">
                                <button [disabled]="!isShopExist" (click)="navigateProductCreate()"
                                    class="ml-3 mr-3 user-button" mat-stroked-button color="primary">{{ 'Create product'
                                    | translate }}</button>
                            </div>
                            <div class="col col-md-1">
                                <button (click)="printEvent()" class="ml-3 mr-3 user-button" mat-stroked-button
                                    color="primary">{{ 'Export Pdf' | translate }}</button>
                            </div>
                            <div class="col col-md-1">
                                <button (click)="basicCollapse.toggle()" class="ml-3 mr-3 user-button"
                                    aria-expanded="false" aria-controls="adminCollapse" mat-stroked-button
                                    color="primary">{{ 'Filter' | translate }}</button>
                            </div>
                            <div class="col col-md-1">
                                <button (click)="confirmDelete(null)" class="ml-3 mr-3 user-button"
                                    aria-expanded="false" aria-controls="adminCollapse" mat-stroked-button
                                    color="warn">{{ 'Delete All' | translate }}</button>
                            </div>
                            <div class="col col-md-1">
                                <button (click)="navigateShop()" class="ml-3 mr-3 user-button" aria-expanded="false"
                                    aria-controls="adminCollapse" mat-stroked-button color="primary">{{ shopTitle |
                                    translate
                                    }}</button>
                            </div>
                            <div class="col col-md-1">
                                <button (click)="navigateShop()" class="ml-3 mr-3 user-button" aria-expanded="false"
                                    aria-controls="adminCollapse" mat-stroked-button color="primary">{{ 'History' |
                                    translate }}</button>
                            </div>
                        </div>

                    </div>
                    <div class="card-body mb-3">
                        <div class="mt-3 mb-3" id="adminCollapse" mdbCollapse #basicCollapse="mdbCollapse">
                            <div class="row">
                                <div class="col col-md-3">
                                    <mat-form-field class="user-form-field" appearance="fill">
                                        <mat-label>{{ 'Product Name' | translate }}</mat-label>
                                        <input matInput type="text" [(ngModel)]="productName">
                                    </mat-form-field>
                                </div>
                                <div class="col col-md-3">
                                    <mat-form-field class="user-form-field" appearance="fill">
                                        <mat-label>{{ 'Import Date' | translate }}</mat-label>
                                        <input type="date" matInput [(ngModel)]="dateImport">
                                    </mat-form-field>
                                </div>
                                <div class="col col-md-3">
                                    <mat-form-field class="user-form-field" appearance="fill">
                                        <mat-label>{{ 'Sort by' | translate }}</mat-label>
                                        <mat-select [(ngModel)]="sortBy">
                                            <mat-option *ngFor="let s of sortByList" [value]="s.value">
                                                {{ s.display }}
                                            </mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                                <div class="col col-md-3">
                                    <button mat-raised-button style="height: 52px; width: 100px;" color="primary"
                                        (click)="applyFilter()">{{ 'Apply' | translate }}</button>
                                </div>
                            </div>
                        </div>
                        <div class="table-responsive">
                            <table class="table">
                                <thead class=" text-primary">
                                    <th>
                                        Id
                                    </th>
                                    <th>
                                        {{ 'Product Name' | translate }}
                                    </th>
                                    <th>
                                        {{ 'Import Date' | translate }}
                                    </th>
                                    <th>
                                        {{ 'Price' | translate }}
                                    </th>
                                    <th>
                                        {{ 'Bought Product' | translate}}
                                    </th>
                                    <th>
                                        {{ 'Remain Quantity' | translate }}
                                    </th>
                                    <th>
                                        {{ 'Status' | translate }}
                                    </th>
                                    <th style="width: 10%;">
                                        {{ 'Action' | translate }}
                                    </th>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let product of dataSource">
                                        <ng-template #tolTemplate>
                                            <img id="tool-tip" src="https://placehold.jp/200x200.png" />
                                        </ng-template>
                                        <td>
                                            {{ product.productId }}
                                        </td>
                                        <td>
                                            {{ product.productName }}
                                        </td>
                                        <td>
                                            {{ product.importDate | datetime: 'dd-MM-yyyy' }}
                                        </td>
                                        <td>
                                            {{ product.price | money }}
                                        </td>
                                        <td>
                                            {{ product.bought }}
                                        </td>
                                        <td>
                                            {{ product.remainQuantity }}
                                        </td>
                                        <td [ngClass]="handlerStatus(product.status)">
                                            {{ product.status ? "Activated" : "Disabled" | translate }}
                                        </td>
                                        <td>
                                            <div class="row text-center">
                                                <div class="col col-lg-6">
                                                    <button class="ml-auto mr-auto" mat-stroked-button color="primary"
                                                        (click)="navigateUpdatePage(product.productId)">{{ 'Update' |
                                                        translate }}</button>
                                                </div>
                                                <div class="col col-lg-6">
                                                    <button class="ml-auto mr-auto" mat-stroked-button color="accent"
                                                        (click)="confirmDelete(product.productId)">{{ 'Delete' |
                                                        translate }}</button>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>

                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="text-left mt-3">
                        <mat-paginator #paginator [length]="total" [pageSize]="take" [pageSizeOptions]="[10]"
                            aria-label="Select page" (page)="getPaginatorData($event)">
                        </mat-paginator>
                    </div>
                </div>
            </div>
        </div>
        <!-- Bill -->
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <div class="row">
                            <div class="col col-md-2">
                                <h2 class="card-title" style="float: left;">{{ 'Bill' | translate }}</h2>
                            </div>
                        </div>
                    </div>
                    <div class="card-body mb-3">
                        <div class="table-responsive">
                            <table class="table">
                                <thead class=" text-primary">
                                    <th>
                                        {{ 'Bill Id' | translate }}
                                    </th>
                                    <th>
                                        {{ 'Total Amount' | translate }}
                                    </th>
                                    <th>
                                        {{ 'Phone Number' | translate }}
                                    </th>
                                    <th>
                                        {{ 'Address' | translate }}
                                    </th>
                                    <th>
                                        {{ 'Is Confirmed' | translate }}
                                    </th>
                                    <th>
                                        {{ 'Create Date' | translate }}
                                    </th>
                                    <th>
                                        {{ 'By' | translate }}
                                    </th>
                                    <th>
                                        {{ 'Action' | translate }}
                                    </th>
                                </thead>
                                <tbody>
                                    <tr class="bill-detail-row" *ngFor="let bill of billDataSource"
                                        (click)="openDetaiBilllDialog(bill?.billId)">
                                        <ng-template #tolTemplate>
                                            <img id="tool-tip" src="https://placehold.jp/200x200.png" />
                                        </ng-template>
                                        <td>
                                            {{ bill?.billId }}
                                        </td>
                                        <td>
                                            {{ bill?.totalAmount | money }}
                                        </td>
                                        <td>
                                            {{ bill?.phoneNumber }}
                                        </td>
                                        <td>
                                            {{ bill?.address }}
                                        </td>
                                        <td>
                                            {{ bill?.isConfirmed ? 'Confirmed' : 'Not Confirm' | translate }}
                                        </td>
                                        <td>
                                            {{ bill?.createDate | datetime: 'dd-MM-yyyy' }}
                                        </td>
                                        <td>
                                            {{ bill?.by }}
                                        </td>
                                        <td>
                                            <section class="example-section">
                                                <mat-checkbox [checked]="bill.isConfirmed" (change)="confirmBill(bill.billId, $event.checked)" class="example-margin">{{ 'Confirm' | translate }}</mat-checkbox>
                                            </section>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="text-left mt-3">
                        <mat-paginator #paginator [length]="billTotal" [pageSize]="take" [pageSizeOptions]="[10]"
                            aria-label="Select page" (page)="getBillPaginatorData($event)">
                        </mat-paginator>
                    </div>
                </div>
            </div>
        </div>
        <!-- Chart -->
        <div id="print-section">
            <h2 class="col-12">{{ 'Statistics' | translate }}</h2>
            <div class="row">
                <!-- Bar Chart -->
                <div class="col-lg-4">
                    <div class="card card-chart">
                        <div class="card-header">
                            <h4 class="card-title">{{ 'Turn over' | translate }}</h4>
                        </div>
                        <div class="card-body">
                            <div class="chart-area">
                                <div style="display: block;">
                                    <canvas baseChart [datasets]="turnOverBarChartData" [labels]="barChartLabels"
                                        [options]="barChartOptions" [plugins]="barChartPlugins"
                                        [legend]="barChartLegend" [chartType]="barChartType">
                                    </canvas>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="card card-chart">
                        <div class="card-header">
                            <h4 class="card-title">{{ 'Bought Product' | translate }}</h4>
                        </div>
                        <div class="card-body">
                            <div class="chart-area">
                                <div style="display: block;">
                                    <canvas baseChart [datasets]="barChartData" [labels]="barChartLabels"
                                        [options]="barChartOptions" [plugins]="barChartPlugins"
                                        [legend]="barChartLegend" [chartType]="barChartType">
                                    </canvas>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="card card-chart">
                        <div class="card-header">
                            <h4 class="card-title">{{ 'Import Product' | translate }}</h4>
                        </div>
                        <div class="card-body">
                            <div class="chart-area">
                                <div style="display: block;">
                                    <canvas baseChart [datasets]="importBarChartData" [labels]="barChartLabels"
                                        [options]="barChartOptions" [plugins]="barChartPlugins"
                                        [legend]="barChartLegend" [chartType]="barChartType">
                                    </canvas>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>