<div class="text-center">
    <div class="row">
        <div class="text-left col-sm-5 m-auto pl-5">
            <!-- <h1 class="font-weight-bold m-2">{{ introObj?.content || default }}</h1> -->
            <h1 class="font-weight-bold m-2">Work out at home for free.</h1>
            <!-- <p class="intro-text m-2">{{ introObj?.description || default }}</p> -->
            <p class="intro-text m-2">We believe fitness should be accessible to everyone, everywhere, regardless of income or access to a gym. With hundreds of professional workouts, healthy recipes and informative articles, as well as one of the most positive communities on the web, you’ll have everything you need to reach your personal fitness goals – for free! </p>
        </div>
        <div class="col-sm-7 m-auto">
            <!-- <img [src]="introObj?.url" [alt]="introObj?.toolTip" style="width: 100%; height: 100%;" /> -->
            <img src="https://res.cloudinary.com/nguyentruonggiang/image/upload/v1649665662/FitnessWebSite/feature-1_smal1j.jpg" [alt]="introObj?.toolTip" style="width: 100%; height: 100%;" />
        </div>
    </div>
</div>