<div *ngIf="productArray != [] && productArray.length != 0 && productArray !== undefined">
    <h1 mat-dialog-title class="text-center">{{ 'Cart' | translate }}</h1>
    <h2 class="text-left ml-2">{{ 'Product' | translate }}</h2>
    <mat-list role="list">
        <mat-list-item role="listitem" *ngFor="let item of productArray" class="p-2" style="height: 100px;">
            <img src="{{ item.image || defaultProductImage }}" matListAvatar alt="image"
                style="height: 80px; width: 80px;">
            <div class="m-2" style="overflow: hidden; text-overflow: ellipsis; font-weight: bold;" matLine>
                <span tyle="float: left;">
                    {{ item.name }}
                </span>
                <div style="float: right;">
                    <button mat-raised-button (click)="minusCart(item)" class="numberpicker" color="warn"
                        style="height: 30px;">-</button>
                    <button mat-raised-button class="numberpicker" style="height: 30px;">{{ item.quantity }}</button>
                    <button mat-raised-button (click)="plusCart(item)" class="numberpicker" color="primary"
                        style="height: 30px;">+</button>
                </div>
            </div>
            <div matLine class="m-2">
                <span>
                    {{ item.price | money }}
                </span>
            </div>
            <mat-divider></mat-divider>
        </mat-list-item>
    </mat-list>

</div>

<div class="mt-4" *ngIf="courseArray != [] && courseArray.length != 0 && courseArray !== undefined">
    <h2 class="text-left ml-2">{{ 'Course' | translate }}</h2>
    <mat-list role="list">
        <mat-list-item role="listitem" *ngFor="let item of courseArray" class="p-2" style="height: 100px;">
            <img src="{{ item.image || defaultCourseImage }}" matListAvatar alt="image"
                style="height: 80px; width: 80px;">
            <div class="m-2" style="overflow: hidden; text-overflow: ellipsis; font-weight: bold;" matLine>
                <span tyle="float: left;">
                    {{ item.name }}
                </span>
            </div>
            <div style="float: right;">
                <button mat-raised-button (click)="minusCart(item)" class="numberpicker" color="warn"
                    style="height: 40px; width: 120px;">{{ 'Remove' | translate }}</button>
            </div>
            <div matLine class="m-2">
                <span>
                    {{ item.price | money }}
                </span>
            </div>
            <mat-divider></mat-divider>
        </mat-list-item>
    </mat-list>
</div>

<div *ngIf="(token != null && (courseArray != [] && courseArray.length != 0 && courseArray !== undefined) || (productArray != [] && productArray.length != 0 && productArray !== undefined))" class="text-center mt-3">
    <button (click)="openFormDialog()" class="btn btn-outline-primary mt-2 mb-2 w-75">{{ 'Fill Form' | translate }}</button>
</div>

<div *ngIf="(token != null && (courseArray != [] && courseArray.length != 0 && courseArray !== undefined) || (productArray != [] && productArray.length != 0 && productArray !== undefined)) && orderDetail != null"
    class="text-center mt-3">
    <ngx-paypal *ngIf="token != null" [config]="payPalConfig"></ngx-paypal>
</div>

<div *ngIf="(courseArray == [] || courseArray.length == 0 || courseArray === undefined) && (productArray== [] || productArray.length == 0 || productArray === undefined)"
    class="text-center h-75" style="display: flex;justify-content: center; align-items: center;">
    <span class="text-danger" style="font-size: 20px;">
        {{ 'Cannot find any item' | translate }}
    </span>
</div>