<div class="row pt-5">
    <div class="col-md-2 m-auto pl-5">
        <h1 class="font-weight-bold m-2 text-center">{{ 'Course' | translate }}</h1>
    </div>
    <div class="col-md-10">
        <p-carousel [value]="products" styleClass="custom-carousel" [numVisible]="3" [numScroll]="1" [circular]="true" [autoplayInterval]="3000" [responsiveOptions]="responsiveOptions">
            <ng-template let-product pTemplate="item">
                <div class="product-item">
                    <div class="product-item-content">
                        <div class="p-mb-3">
                            <img src="{{product.image}}" [alt]="product.name" class="product-image" />
                        </div>
                        <div>
                            <h4 class="p-mb-1">{{product.name}}</h4>
                            <h6 class="p-mt-0 p-mb-3">${{product.price}}</h6>
                            <span [class]="'product-badge status-'+product.inventoryStatus.toLowerCase()">{{product.inventoryStatus}}</span>
                            <div class="car-buttons p-mt-5">
                                <p-button type="button" styleClass="p-button p-button-rounded p-mr-2" icon="pi pi-search"></p-button>
                                <p-button type="button" styleClass="p-button-success p-button-rounded p-mr-2" icon="pi pi-star-fill"></p-button>
                                <p-button type="button" styleClass="p-button-help p-button-rounded" icon="pi pi-cog"></p-button>
                            </div>
                        </div>
                    </div>
                </div>
            </ng-template>
        </p-carousel>
    </div>
</div>