<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-9">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <h1 class="card-title">User Information</h1>
                    </div>
                    <div class="card-body">
                        <form [formGroup]="userForm" (ngSubmit)="updateUserInfo()">
                            <div class="row">
                                <div class="col-md-6">
                                    <mat-form-field class="full-width-field">
                                        <input matInput placeholder="Username" formControlName="userName">
                                    </mat-form-field>
                                </div>
                                <div class="col-md-6">
                                    <mat-form-field class="full-width-field">
                                        <input matInput placeholder="Name" type="text" autocomplete="off"
                                            formControlName="name">
                                    </mat-form-field>
                                </div>
                                <div class="col-md-6">
                                    <mat-form-field class="full-width-field">
                                        <input matInput placeholder="Email" type="email" autocomplete="off"
                                            formControlName="email">
                                    </mat-form-field>
                                </div>
                                <div class="col-md-3">
                                    <mat-form-field class=" full-width-field">
                                        <mat-select formControlName="gender">
                                            <mat-option *ngFor="let g of genderArray" [value]="g.index">
                                                {{g.value}}
                                            </mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                                <div class="col-md-3">
                                    <mat-form-field class="full-width-field">
                                        <input matInput placeholder="Age" maxlength="3" type="number" max="150" min="1"
                                            formControlName="age">
                                    </mat-form-field>
                                </div>
                                <div class="col-md-6">
                                    <mat-form-field class="full-width-field">
                                        <input matInput placeholder="Address" type="text" autocomplete="off"
                                            formControlName="name" formControlName="address">
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col col-md-12">
                                    <div class="form-group">
                                        <label class="bmd-label-floating">Description</label>
                                        <!-- Rich textbox here -->
                                        <quill-editor formControlName="description"></quill-editor>
                                        <!-- End rich textboxt here -->
                                    </div>
                                </div>
                            </div>
                            <button mat-raised-button type="submit" color="primary" class="btnpull-right">Update
                                Profile</button>
                            <div class="clearfix"></div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card card-profile">
                    <div class="card-avatar text-center">
                        <a href="javascript:void(0)">
                            <img class="img" [src]="handlerDisplayImage()" style="width: 80%;max-height: 400px;" />
                        </a>
                    </div>
                    <div class="card-body">
                        <div (click)="uploadFile.click()">
                            <button mat-raised-button color="primary">Choose File</button>
                            <input #uploadFile (change)="upload($event.target)" type='file' style="display:none" />
                        </div>
                    </div>
                    <div>
                        <h2 class="p-1 ml-3">Course</h2>
                        <ul class="list-group">
                            <li class="list-group-item" *ngFor="let schedule in dataSource?.meetingRoomSchedules">
                                <p>{{ schedule.courseName }}</p>
                                <p>Start Date: {{ schedule.startDate | datetime: 'dd-MM-yyyy' }} - End Date: {{ schedule.endDate| datetime: 'dd-MM-yyyy' }}</p>
                                <p>Start Time: {{ schedule.startTime | datetime: 'dd-MM-yyyy hh:mm:ss' }} - End Time: {{ schedule.endTime | datetime: 'dd-MM-yyyy hh:mm:ss' }}</p>
                            </li>
                          </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>