.example-card {
    max-width: 280px;
    margin: 10px !important;
}

.example-header-image {
    background-size: cover;
}

.card-container{
    width: 95vw;
    text-align: center;
    margin: 0 auto;
}