<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-9">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <h1 class="card-title">Shop Information</h1>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-6">
                                <label>Shop Name:</label>
                                <p>{{ dataSource?.shopName }}</p>
                            </div>
                            <div class="col-md-6">
                                <label>Host Name:</label>
                                <p>{{ dataSource?.hostName }}</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col col-md-12">
                                <label>Description:</label>
                                <div style="font-size: 20px; line-height: 25px;"
                                    [innerHtml]="dataSource?.description | safe: 'html'">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card card-profile">
                    <div class="card-avatar text-center">
                        <a href="javascript:void(0)">
                            <img class="img" [src]="handlerDisplayImage()" style="width: 80%;max-height: 400px;" />
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row card-container" *ngIf="dataSource !== null || dataSource?.products?.length == 0; else elseBlock"
            style="padding: 0;">
            <mat-card class="example-card" *ngFor="let item of dataSource?.products">
                <mat-card-header>
                    <mat-card-subtitle class="text-left">{{ item?.name }}</mat-card-subtitle>
                </mat-card-header>
                <img mat-card-image style="width:100%; height:360px;" [src]="item?.image" [alt]="item?.name">
                <mat-card-actions>
                    <button mat-button (click)="navigateToDetail(item.id)">DETAIL</button>
                </mat-card-actions>
            </mat-card>
        </div>
        <ng-template #elseBlock>
            <div class="text-center">
                <h3>Cannot find any item!</h3>
            </div>
        </ng-template>
    </div>
</div>