<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-9">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <h1 class="card-title">{{ 'User Information' | translate }}</h1>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-6">
                                <label>{{ 'Name' | translate }}:</label>
                                <p>{{ dataSource?.name }}</p>
                            </div>
                            <div class="col-md-6">
                                <label>{{ 'Email' | translate }}:</label>
                                <p>{{ dataSource?.email }}</p>
                            </div>
                            <div class="col-md-6">
                                <label>{{ 'Age' | translate }}:</label>
                                <p>{{ dataSource?.age }}</p>
                            </div>
                            <div class="col-md-6">
                                <label>{{ 'Address' | translate}}:</label>
                                <p>{{ dataSource?.address }}</p>
                            </div>
                            <div class="col-md-6">
                                <label>{{ 'Gender' | translate }}:</label>
                                <p>{{ this.displayGender() | translate }}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card card-profile">
                    <div class="card-avatar text-center">
                        <a href="javascript:void(0)">
                            <img class="img" [src]="handlerDisplayImage()" style="width: 80%;max-height: 400px;" />
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col col-md-12">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <label>{{ 'Description' | translate }}:</label>
                    </div>
                    <div class="card-body">
                        <div style="font-size: 20px; line-height: 25px;"
                            [innerHtml]="dataSource?.description | safe: 'html'">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>