<div class="my-spinner">
    <mat-spinner class="my-spinner"></mat-spinner>
</div>
<div class="container-fluid">
    <div class="screen-component">
        <h1 class="text-center mt-4 font-weight-bold">Fitness Website</h1>
        <app-carousel class="home-area"></app-carousel>
    </div>
    <div class="small-screen-component">
        <app-product-adv></app-product-adv>
    </div>
    <div class="screen-component">
        <app-intro></app-intro>
    </div>
    <div class="small-screen-component">
        <app-course-adv></app-course-adv>
    </div>
</div>