/* You can add global styles to this file, and also import other style files */
/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';

/* Importing fontawesome */
@import '~@fortawesome/fontawesome-free/scss/fontawesome.scss';
@import '~@fortawesome/fontawesome-free/scss/solid.scss';
@import '~@fortawesome/fontawesome-free/scss/regular.scss';
@import '~@fortawesome/fontawesome-free/scss/brands.scss';

/* Importing mdb ui */

@import '~mdb-angular-ui-kit/assets/scss/mdb.scss';

/* Importing toast */

@import '~ngx-toastr/toastr-bs4-alert';
@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import '~bootstrap/scss/mixins';
@import '~ngx-toastr/toastr-bs4-alert';
@import '~ngx-toastr/toastr.css';

/* Import Scheduler */
@import '../node_modules/@syncfusion/ej2-base/styles/material.css';
@import '../node_modules/@syncfusion/ej2-buttons/styles/material.css';
@import '../node_modules/@syncfusion/ej2-calendars/styles/material.css';
@import '../node_modules/@syncfusion/ej2-dropdowns/styles/material.css';
@import '../node_modules/@syncfusion/ej2-inputs/styles/material.css';
@import '../node_modules/@syncfusion/ej2-lists/styles/material.css';
@import '../node_modules/@syncfusion/ej2-popups/styles/material.css';
@import '../node_modules/@syncfusion/ej2-navigations/styles/material.css';
@import '../node_modules/@syncfusion/ej2-angular-schedule/styles/material.css';

/* Import quill rich textbox editor */
@import '~quill/dist/quill.bubble.css'; 

/* multi select option */
@import "~@ng-select/ng-select/themes/default.theme.css";
@import "~@ng-select/ng-select/themes/material.theme.css";

/* Importing google font */
@import 'https://fonts.googleapis.com/css2?family=Nunito:wght@200;400&display=swap';
//font-family: 'Nunito', sans-serif;
@import 'https://fonts.googleapis.com/css2?family=Merriweather:wght@300&family=Nunito:wght@200;400&display=swap';
//font-family: 'Merriweather', serif;

* {
    margin: 0;
    padding: 0;
    font-family: 'Nunito', sans-serif;
}

body {
    margin: 0;
    padding: 0;
    background-image: url(./assets/background1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    min-width: 300px;
}

p {
    font-size: 17px;
    line-height: 30px;
}

.screen-component {
    width: 100%;
    height: 100vh;
    background-color: whitesmoke;
    margin-top: 5px;
    border-radius: 7px;
    overflow: hidden;
    min-height: 50vh;
    overflow: auto;
}

.normal-component {
    width: 100%;
    background-color: whitesmoke;
    margin-top: 5px;
    border-radius: 7px;
    overflow: hidden;
    min-height: 50vh;
}

.small-component {
    border-radius: 7px;
    width: 100%;
    background-color: whitesmoke;
    padding-top: 10px;
}

.footer {
    background-color: #292b2c;
    height: 100%;
    color: #f7f7f7;
}

h1 {
    font-size: 30px !important;
    font-weight: bold !important;
}

h2 {
    font-size: 24px !important;
    font-weight: bold !important;
}

.myform-input {
    height: 35px;
}

.myform-label {
    font-size: 19px;
}

.myform-button {
    font-size: 19px;
    width: 120x !important;
    min-width: unset !important;
}

.myform-tooltip {
    position: absolute;
    right: 10px;
    top: 10px;
    z-index: 100;
}

.my-tooltip {
    white-space: pre-line !important;
}

.title{
    margin-top: 40px;
    text-align: center;
    display : block; 
    line-height: 2 !important;
}

// navbar search responsive
@media only screen and (max-width: 991px) {
    #search-result {
        top: 40vh !important;
    }

    .my-nav-itemd li {
        width: 10% !important;
        display: inline;
    }

    .my-nav-item-list {
        width: 100vw !important;
    }
}