
.about-title{
    font-size: 30px;
    line-height: 30px;

}

.about-header{
    font-size: 40px;
    font-family: 'Merriweather', serif;
    color: #a2d5c6;
}

.about-link{
    color: #a2d5c6;
    text-decoration: none;
    font-size: 17px;
}

.about-link :hover{
    color: white;
    cursor: pointer;
}