<div class="text-center p-4 footer">
    <div class="text-center">
        <img class="m-auto" src="../../../assets/logo.png" height="100" alt=""
            loading="lazy" />
    </div>
    <h3>ABOUT FITNESS WEBSITE</h3> 
    <div class="text-center mt-4">
        <p class="w-75 m-auto about-title">Created by personal trainers, our team passionate about helping you achieve your health and fitness goals.</p>
    </div>
    <div class="row mt-5">
        <div class="col-md-4">
            <p class="about-header">1 +</p>
            <p>1+ year of combined experience helping people achieve their fitness & health goals.</p>
        </div>
        <div class="col-md-4">
            <p class="about-header">2 +</p>
            <p>2+ millions workouts completed each month by our amazing Fitness Blender Family.</p>
        </div>
        <div class="col-md-4">
            <p class="about-header">500 +</p>
            <p>500+ free workout videos for every fitness level + effective & affordable workout programs.</p>
        </div>
    </div>
    <div class="text-center mt-5">
        <a class="about-link" href="#">Learn More About Our Company</a>
    </div>
</div>