<div class="main-content">
    <div class="container-fluid">
        <div class="row" id="hiden-component">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <div class="row">
                            <div class="col col-md-2">
                                <h2 class="card-title" style="float: left;">{{ 'User management' | translate }}</h2>
                            </div>
                            <div class="col col-md-1">
                                <button (click)="navigateCreateUser()" class="ml-3 mr-3 user-button" mat-stroked-button
                                    color="primary">{{ 'Create User' | translate }}</button>
                            </div>
                            <div class="col col-md-1">
                                <button (click)="printEvent()" class="ml-3 mr-3 user-button" mat-stroked-button
                                    color="primary">{{ 'Export Pdf' | translate }}</button>
                            </div>
                            <div class="col col-md-1">
                                <button (click)="basicCollapse.toggle()" class="ml-3 mr-3 user-button"
                                    aria-expanded="false" aria-controls="adminCollapse" mat-stroked-button
                                    color="primary">{{ 'Filter' | translate }}</button>
                            </div>
                            <div class="col col-md-1">
                                <button (click)="confirmDelete(null)" class="ml-3 mr-3 user-button" aria-expanded="false"
                                    aria-controls="adminCollapse" mat-stroked-button color="warn">{{ 'Delete All' | translate }}</button>
                            </div>
                        </div>

                    </div>
                    <div class="card-body mb-3">
                        <div class="mt-3 mb-3" id="adminCollapse" mdbCollapse #basicCollapse="mdbCollapse">
                            <div class="row">
                                <div class="col col-md-3">
                                    <mat-form-field class="user-form-field" appearance="fill">
                                        <mat-label>{{ 'UserName' | translate }}</mat-label>
                                        <input matInput type="text" [(ngModel)]="userName">
                                    </mat-form-field>
                                </div>
                                <div class="col col-md-3">
                                    <mat-form-field class="user-form-field" appearance="fill">
                                        <mat-label>{{ 'Name' | translate }}</mat-label>
                                        <input matInput type="text" [(ngModel)]="name">
                                    </mat-form-field>
                                </div>
                                <div class="col col-md-3">
                                    <mat-form-field class="user-form-field" appearance="fill">
                                        <mat-label>{{ 'Address' | translate }}</mat-label>
                                        <input matInput type="text" [(ngModel)]="address">
                                    </mat-form-field>
                                </div>
                                <div class="col col-md-3">
                                    <mat-form-field class="user-form-field" appearance="fill">
                                        <mat-label>{{ 'Create Date' | translate }}</mat-label>
                                        <input matInput type="date" [(ngModel)]="dateCreate">
                                    </mat-form-field>
                                </div>
                                <div class="col col-md-3">
                                    <mat-form-field class="user-form-field" appearance="fill">
                                        <mat-label>{{ "Sort by" | translate }}</mat-label>
                                        <mat-select [(ngModel)]="sortBy">
                                            <mat-option *ngFor="let s of sortByList" [value]="s.value">
                                                {{ s.display }}
                                            </mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                                <div class="col col-md-3">
                                    <button mat-raised-button style="height: 52px; width: 100px;" color="primary"
                                        (click)="applyFilter()">{{ 'Apply' | translate }}</button>
                                </div>
                            </div>
                        </div>
                        <div class="table-responsive">
                            <table class="table">
                                <thead class=" text-primary">
                                    <th>
                                        {{ 'Order' | translate }}
                                    </th>
                                    <th>
                                        {{ 'User Name' | translate }}
                                    </th>
                                    <th>
                                        {{ 'Name' | translate }}
                                    </th>
                                    <th>
                                        {{ 'Address' | translate }}
                                    </th>
                                    <th>
                                        {{ 'Create Date' | translate }}
                                    </th>
                                    <th>
                                        {{ "Status" | translate }}
                                    </th>
                                    <th style="width: 10%;">
                                        {{ 'Action' | translate }}
                                    </th>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let user of dataSource; let i = index">
                                        <td>
                                            {{ i + 1 }}
                                        </td>
                                        <td>
                                            {{ user.userName }}
                                        </td>
                                        <td>
                                            {{ user.name }}
                                        </td>
                                        <td>
                                            {{ user.address }}
                                        </td>
                                        <td>
                                            {{ user.createDate | date }}
                                        </td>
                                        <td [ngClass]="handlerStatus(user.status)">
                                            {{ user.status ? "Activated" : "Disabled" | translate }}
                                        </td>
                                        <td>
                                            <div class="row text-center">
                                                <div class="col col-lg-6">
                                                    <button class="ml-auto mr-auto" mat-stroked-button color="primary"
                                                        (click)="navigateUpdatePage(user.userName)">{{ 'Update' | translate }}</button>
                                                </div>
                                                <div class="col col-lg-6">
                                                    <button class="ml-auto mr-auto" mat-stroked-button color="accent"
                                                        (click)="confirmDelete(user.userName)">{{ "Delete" | translate }}</button>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>

                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="text-left mt-3">
                        <mat-paginator #paginator [length]="total" [pageSize]="take" [pageSizeOptions]="[10]"
                            aria-label="Select page" (page)="getPaginatorData($event)">
                        </mat-paginator>
                    </div>
                </div>
            </div>
        </div>
        <!-- Chart -->
        <div id="print-section">
            <h2 class="col-12">{{ 'Statistics' | translate }}</h2>
            <div class="row">
                <!-- Bar Chart -->
                <div class="col-lg-6">
                    <div class="card card-chart">
                        <div class="card-header">
                            <h4 class="card-title">{{ 'New Account / Year' | translate }}</h4>
                        </div>
                        <div class="card-body">
                            <div class="chart-area">
                                <div style="display: block;">
                                    <canvas baseChart [datasets]="barChartData" [labels]="barChartLabels"
                                        [options]="barChartOptions" [plugins]="barChartPlugins"
                                        [legend]="barChartLegend" [chartType]="barChartType">
                                    </canvas>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <!-- Pie Chart -->
                <div class="col-lg-6">
                    <div class="card card-chart">
                        <div class="card-header">
                            <h4 class="card-title">{{ 'Type Account' | translate }}</h4>
                        </div>
                        <div class="card-body">
                            <div class="chart-area">
                                <div style="display: block;">
                                    <canvas baseChart [data]="pieChartData" [labels]="pieChartLabels"
                                        [chartType]="pieChartType" [options]="pieChartOptions"
                                        [plugins]="pieChartPlugins" [legend]="pieChartLegend">
                                    </canvas>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>